@import url("style_basic.css");

#registro_tf_registro {
    border-radius: 0.3125em;
    margin-left: 20%;
    width: 60%;
    padding-bottom: 0.5em;
}

#registro_tf_registro_interno{
  background-color: #f2f2f2;
}

#registro_tf_registro h1,
.registro_tf_valida{
  background-color: #3498DB;
  color: white;
  width: 100%;
  font-weight: bold;
  font-size: 2em;

  padding-top: 0.275em;
  padding-bottom: 0.275em;
}

#registro_tf_registro h1{
            border-top-left-radius: 0.25em;
        -moz-border-top-left-radius:0.25em;
     -webkit-border-top-left-radius:0.25em;

           border-top-right-radius: 0.25em;
       -moz-border-top-right-radius:0.25em;
    -webkit-border-top-right-radius:0.25em;
}

#info_tf{
  padding-bottom: 1em;
}

#info_tf a{
  color: black;
  font-weight: bold;
}

.registro_tf_valida {
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    border: none;
    cursor: pointer;

    border-bottom-left-radius: 0.25em;
    -moz-border-bottom-left-radius:0.25em;
    -webkit-border-bottom-left-radius:0.25em;

       border-bottom-right-radius: 0.25em;
    -moz-border-bottom-right-radius:0.25em;
    -webkit-border-bottom-right-radius:0.25em;
}

.registro_tf_valida:hover {
    background-color: #2980B9;
}

.registro_tf_valida img{
  width: 4%;
  height: auto;
  display: none;
}

#registro_tf_resultado{
  padding-bottom: 1em;
}

#registro_tf_boton_resultado{
  width: 60%;
  background-color: #3498DB;
  color:white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-left: 20%;

  border-radius: 0.25em;
  -moz-border-radius:0.25em;
  -webkit-border-radius:0.25em;

  display: none;
}

#registro_tf_puntos{
  font-weight: bold;
}

#info_puntos{
  background-color: #333;
  color: white;
}
